<app-header></app-header>
<section class="text-gray-400 bg-gray-700 body-font min-h-full w-full">
  <div class="container px-5 py-4 mx-auto flex flex-wrap">
    <div class="flex w-full flex-wrap">
      <div class="flex">
        <div class="w-32 h-32 mr-4"><img src="../../assets/igec.webp" class="rounded" alt="IGEC"></div>
        <div class="lg:pl-2">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-white w-full mb-2">We the Igecian's We are
            the future of this country!!</h1>
          <p class="w-full hidden lg:block mx-auto leading-relaxed text-base">Vision: To produce a generation of engineering enabled in
            Economics, Environmental concern with Entrepreneur skills Empowered and Enthused for Sustainable Development
            of the society and country in the Competitive world.</p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap w-full md:-m-2 -m-1 flex-col md:flex-row">
      <div class="flex flex-wrap lg:w-1/2">
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="lg:w-500 lg:h-300 w-400 object-cover h-full object-center block"
            src="../../assets/gallery1.jpg">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="lg:w-501 lg:h-301 w-400 object-cover h-full object-center block"
            src="../../assets/gallery2.jpg">
        </div>
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-600 h-360 object-cover object-center block"
            src="../../assets/gallery4.jpg">
        </div>
      </div>
      <div class="flex flex-wrap lg:w-1/2">
        <div class="md:p-2 p-1 w-full">
          <img alt="gallery" class="w-601 h-361 object-cover object-center block"
            src="../../assets/gallery3.jpg">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-502 object-cover h-302 object-center block"
            src="../../assets/gallery5.jpeg">
        </div>
        <div class="md:p-2 p-1 w-1/2">
          <img alt="gallery" class="w-503 object-cover h-72 object-center block"
            src="../../assets/gallery6.avif">
        </div>
      </div>
    </div>
  </div>
</section>