<mat-card class="mx-3 h-full gray-background">
    <h1 class="font-semibold p-3 text-xl">View and Take Attendance - <span
            class="text-red-600 text-2xl">{{subject.name}}</span></h1>
    <div class="w-full mt-2 flex">
        <h2 class="font-normal p-3 text-xl">Select Date to view and take Attendance</h2>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="selected" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button class="p-3 ml-5 mt-2" mat-raised-button color="primary">Fetch Classes</button>
    </div>
    <div>
        <h1 class="font-medium p-3 text-xl">Attendances on {{selected}}</h1>
    </div>
    <div class="w-full mt-2 p-3">
        <div *ngFor="let attendance of attendances.attendances; odd as isOdd; even as isEven">
            <div [ngClass]="{ 'bg-gray-300': isOdd, 'bg-zinc-400': isEven }"
                class="flex w-full justify-around p-2 py-4">
                <div>
                    <h2 class="font-bold">{{ attendance.typeOfClass }}</h2>
                </div>
                <div>
                    <h2 class="font-bold">{{ attendance.time }}</h2>
                </div>
                <div class="flex align-middle">
                    <button mat-raised-button class="mr-4">Update attendence</button>
                    <button mat-raised-button class="mr-4">Statistics</button>
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
        <button mat-raised-button class="mx-auto mt-5">Take new Attendance</button>
    </div>
</mat-card>