<mat-card class="mx-3 h-full gray-background">
  <div class=" p-3">
    <h1 class="text-3xl">Manage Students</h1>
  </div>
  <div class="flex justify-around p-3">
    <button mat-raised-button color="primary" class="btn-styling">
      Add New Student
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      Delete Student
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      Update Student
    </button>
  </div>
  <div class="flex justify-around p-3">
    <!-- Changed to justify-around -->
    <button mat-raised-button color="primary" class="btn-styling">
      View Student Details
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      View Batch Details
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      Allot Enrollment No.
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      Restore Account
    </button>
  </div>
</mat-card>
