<mat-card class="mx-3 h-full gray-background">
  <h1 class="text-3xl p-3 px-3">Hello {{ name }} !!</h1>
  <div class="px-3">
    <hr class="my-3  bg-gray-700 h-1" />

  </div>
  <h1 class="text-2xl px-3 font-bold">MY CLASSES</h1>
  <div class="border-2 px-3 w-full mt-2">
    <div *ngFor="let class of classes.batches; odd as isOdd; even as isEven">
      <div [ngClass]="{ 'bg-gray-300': isOdd, 'bg-zinc-400': isEven }" class="flex w-full justify-between p-2 py-4">
        <div>
          <h2 class="font-bold">{{ class.subject }}</h2>
        </div>
        <div>
          <button mat-raised-button class="mr-2">Take attendence</button>
          <button mat-raised-button>Statistics</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <button mat-raised-button class="mx-auto mt-5">Add class</button>
  </div>
</mat-card>