
<mat-toolbar>
  <mat-toolbar-row class="justify-start">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span class="example-spacer"></span> -->
    <div class=" mr-2 ml-auto">
      <ul>
        <li>
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            class="user mt-2 flex items-center"
          >
            <img
              src="../../assets/graduated.png"
              alt=""
              class="user-image p-2"
            />
            <mat-icon class="user-image-icon">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
