<div class="w-full h-full flex md:flex-col justify-center">
    <div class="w-full flex justify-center p-5">
        <div class="w-1/5">
            <img src="../../../../assets/admin-panel.png" alt="">
        </div>
    </div>
    <div class="w-full flex justify-center pb-5">
        <div>
            <h1 class="font-extrabold text-4xl">This Page is Under Construction!!</h1>
        </div>
    </div>
    <div class="w-full flex justify-center p-5">
        <div class="w-2/5">
            <button class="w-full" mat-raised-button routerLink="/teacher">Return to Home</button>
        </div>
    </div>
</div>