<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/graduated.png" alt="student" />
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item> <mat-icon>events</mat-icon> events </a>
<a mat-list-item> <mat-icon>library</mat-icon> library </a>
<a mat-list-item> <mat-icon>courses</mat-icon> courses </a>
<a mat-list-item> <mat-icon>contact</mat-icon> about us </a>
</mat-nav-list>
