<mat-nav-list>
    <div class="logo py-4">
        <img src="../../../../assets/presentation.png" alt="student" />
        <h1 class="font-semibold text-center text-xl">Teacher</h1>
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader class="mt-2">APPLICATIONS</h2>

    <a mat-list-item routerLink="/teacher">
        <div class="flex align-middle">
            <div><mat-icon>menu_book</mat-icon></div>
            <div>
                <h1>My Classes</h1>
            </div>
        </div>
    </a>
    <a mat-list-item routerLink="/profile">
        <div class="flex align-middle">
            <div><mat-icon>account_circle</mat-icon></div>
            <div>
                <h1>My Profile</h1>
            </div>
        </div>
    </a>
    <a mat-list-item routerLink="/">
        <div class="flex align-middle">
            <div><mat-icon>photo_library</mat-icon></div>
            <div>
                <h1>Gallery</h1>
            </div>
        </div>
    </a>
    <a mat-list-item routerLink="/library">
        <div class="flex align-middle">
            <div><mat-icon>local_library</mat-icon></div>
            <div>
                <h1>Library</h1>
            </div>
        </div>
    </a>
    <!-- <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>photo_library</mat-icon> Gallery
    </a>
    <a mat-list-item> <mat-icon>events</mat-icon> events </a>
    <a mat-list-item> <mat-icon>library</mat-icon> library </a>
    <a mat-list-item> <mat-icon>courses</mat-icon> courses </a>
    <a mat-list-item> <mat-icon>contact</mat-icon> about us </a> -->
</mat-nav-list>