<mat-card>
    <!-- {{user|json}} -->
    <h1>Your Profile Details</h1>
    <div class="flex flex-col">
        <div class="container">
            <div class="container justify-center flex items-center">
                <img class="profile-image"
                    [src]="user.image"
                    alt="Profile Image">
            </div>
            <div class="row m-4">
                <div class="col-md-10 offset-md-1">
                    <table class="table text-center">
                        <tr *ngIf="user.name">
                            <td>Name</td>
                            <td>{{user.name}}</td>
                        </tr>
                        <tr *ngIf="user.branch">
                            <td>Branch</td>
                            <td>EXAM{{user.branch}}</td>
                        </tr>
                        <tr *ngIf="user.yearOfAdmission">
                            <td>Year Of Admission</td>
                            <td>{{user.yearOfAdmission}}</td>
                        </tr>
                        <tr *ngIf="user.email">
                            <td>Email</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr *ngIf="user.role">
                            <td>Role</td>
                            <td>{{user.role}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <mat-card-actions class="text-center mb10 mt10 justify-center">
        <button mat-raised-button class="mr-3">UPDATE</button>
        <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>
</mat-card>