<mat-card class="mx-3 h-full gray-background">
  <div class=" p-3">
    <h1 class="text-3xl">Manage teacher</h1>
  </div>
  <div class="flex justify-around p-3">
    <button mat-raised-button color="primary" class="btn-styling">
      Add New Teacher
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      Delete Teacher
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      Update Teacher
    </button>
  </div>
  <div class="flex justify-around p-3">
    <button mat-raised-button color="primary" class="btn-styling">
      View Teacher Details
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      View Branch Details
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      Allot Employment ID
    </button>
    <button mat-raised-button color="primary" class="btn-styling">
      Restore Account
    </button>
  </div>
</mat-card>
