.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr td {
    padding: 10px 10px;
    border: .5px solid rgb(248, 233, 233);
}

.profile-image {
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
  }