/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.gray-background {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}

.w-400 {
  width: 400px;
}
.mat-snack-bar-handset {
  margin-top: 75px !important;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr td {
  padding: 10px 10px;
  border: 0.5px solid rgb(248, 233, 233);
}

.profile-image {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
}
