/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.gray-background {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}

.w-400 {
  width: 400px;
}
